Eura0.eval
Eura0.evec
Eura1.eval
Eura1.evec
Eura2.eval
Eura2.evec
Eura3.eval
Eura3.evec
Eura4.eval
Eura4.evec
Eurb0.eval
Eurb0.evec
Eurb1.eval
Eurb1.evec
Eurb2.eval
Eurb2.evec
Eurb3.eval
Eurb3.evec
Eurb4.eval
Eurb4.evec
Eurw0.eval
Eurw0.evec
Eurw1.eval
Eurw1.evec
Eurw2.eval
Eurw2.evec
Eurw3.eval
Eurw3.evec
Eurw4.eval
Eurw4.evec
Polya0.eval
Polya0.evec
Polya1.eval
Polya1.evec
Polya2.eval
Polya2.evec
Polya3.eval
Polya3.evec
Polya4.eval
Polya4.evec
Polyb0.eval
Polyb0.evec
Polyb1.eval
Polyb1.evec
Polyb2.eval
Polyb2.evec
Polyb3.eval
Polyb3.evec
Polyb4.eval
Polyb4.evec
Polyw0.eval
Polyw0.evec
Polyw1.eval
Polyw1.evec
Polyw2.eval
Polyw2.evec
Polyw3.eval
Polyw3.evec
Polyw4.eval
Polyw4.evec
randa0.eval
randa0.evec
randa1.eval
randa1.evec
randa2.eval
randa2.evec
randa3.eval
randa3.evec
randa4.eval
randa4.evec
randb0.eval
randb0.evec
randb1.eval
randb1.evec
randb2.eval
randb2.evec
randb3.eval
randb3.evec
randb4.eval
randb4.evec
randr0.eval
randr0.evec
randr1.eval
randr1.evec
randr2.eval
randr2.evec
randr3.eval
randr3.evec
randr4.eval
randr4.evec
randw0.eval
randw0.evec
randw1.eval
randw1.evec
randw2.eval
randw2.evec
randw3.eval
randw3.evec
randw4.eval
randw4.evec
a0.p
a1.p
a2.p
a3.p
a4.p
b0.p
b1.p
b2.p
b3.p
b4.p
c0.p
c1.p
c2.p
c3.p
c4.p
FinalSub0.p
FinalSub1.p
FinalSub2.p
FinalSub3.p
FinalSub4.p
insamp.p
subsamp0.p
subsamp1.p
subsamp2.p
subsamp3.p
subsamp4.p
MURRmig_15k.tre.bmp
murrmig.bmp
nomig_15k.tre.bmp
nomig.bmp
WAYmig_15k.tre.bmp
waymig.bmp
aFULL.svg
bFULL.svg
cFULL.svg
Eurb.svg
Eurw.svg
murrmig.svg
nomig.svg
Polyb.svg
Polyw.svg
randb.svg
randr.svg
randw.svg
rFULL.svg
waymig.svg
aFULL.png
bFULL.png
cFULL.png
Eurb.png
Eurw.png
MURRmig_15k.tre.png
murrmig.png
nomig_15k.tre.png
nomig.png
Polyb.png
Polyw.png
randb.png
randr.png
randw.png
rFULL.png
WAYmig_15k.tre.png
waymig.png
Eura0.pdf Eura1.pdf Eura2.pdf Eura3.pdf Eura4.pdf Eurb0.pdf Eurb1.pdf Eurb2.pdf Eurb3.pdf Eurb4.pdf Eurw0.pdf Eurw1.pdf Eurw2.pdf Eurw3.pdf Eurw4.pdf figure2.pdf figure4.pdf Polya0.pdf Polya1.pdf Polya2.pdf Polya3.pdf Polya4.pdf Polyb0.pdf Polyb1.pdf Polyb2.pdf Polyb3.pdf Polyb4.pdf Polyw0.pdf Polyw1.pdf Polyw2.pdf Polyw3.pdf Polyw4.pdf randa0.pdf randa1.pdf randa2.pdf randa3.pdf randa4.pdf randb0.pdf randb1.pdf randb2.pdf randb3.pdf randb4.pdf randr0.pdf randr1.pdf randr2.pdf randr3.pdf randr4.pdf randw0.pdf randw1.pdf randw2.pdf randw3.pdf randw4.pdf Rplots.pdf
autos.geno Eura0.geno Eura1.geno Eura2.geno Eura3.geno Eura4.geno Eurb0.geno Eurb1.geno Eurb2.geno Eurb3.geno Eurb4.geno Eurw0.geno Eurw1.geno Eurw2.geno Eurw3.geno Eurw4.geno Polya0.geno Polya1.geno Polya2.geno Polya3.geno Polya4.geno Polyb0.geno Polyb1.geno Polyb2.geno Polyb3.geno Polyb4.geno Polyw0.geno Polyw1.geno Polyw2.geno Polyw3.geno Polyw4.geno randa0.geno randa1.geno randa2.geno randa3.geno randa4.geno randb0.geno randb1.geno randb2.geno randb3.geno randb4.geno randr0.geno randr1.geno randr2.geno randr3.geno randr4.geno randw0.geno randw1.geno randw2.geno randw3.geno randw4.geno
autos1.ind autos.ind Eura0.ind Eura1.ind Eura2.ind Eura3.ind Eura4.ind Eurb0.ind Eurb1.ind Eurb2.ind Eurb3.ind Eurb4.ind Eurw0.ind Eurw1.ind Eurw2.ind Eurw3.ind Eurw4.ind Polya0.ind Polya1.ind Polya2.ind Polya3.ind Polya4.ind Polyb0.ind Polyb1.ind Polyb2.ind Polyb3.ind Polyb4.ind Polyw0.ind Polyw1.ind Polyw2.ind Polyw3.ind Polyw4.ind randa0.ind randa1.ind randa2.ind randa3.ind randa4.ind randb0.ind randb1.ind randb2.ind randb3.ind randb4.ind randr0.ind randr1.ind randr2.ind randr3.ind randr4.ind randw0.ind randw1.ind randw2.ind randw3.ind randw4.ind
autos.snp Eura0.snp Eura1.snp Eura2.snp Eura3.snp Eura4.snp Eurb0.snp Eurb1.snp Eurb2.snp Eurb3.snp Eurb4.snp Eurw0.snp Eurw1.snp Eurw2.snp Eurw3.snp Eurw4.snp Polya0.snp Polya1.snp Polya2.snp Polya3.snp Polya4.snp Polyb0.snp Polyb1.snp Polyb2.snp Polyb3.snp Polyb4.snp Polyw0.snp Polyw1.snp Polyw2.snp Polyw3.snp Polyw4.snp randa0.snp randa1.snp randa2.snp randa3.snp randa4.snp randb0.snp randb1.snp randb2.snp randb3.snp randb4.snp randr0.snp randr1.snp randr2.snp randr3.snp randr4.snp randw0.snp randw1.snp randw2.snp randw3.snp randw4.snp
Eura0.xtxt Eura1.xtxt Eura2.xtxt Eura3.xtxt Eura4.xtxt Eurb0.xtxt Eurb1.xtxt Eurb2.xtxt Eurb3.xtxt Eurb4.xtxt Eurw0.xtxt Eurw1.xtxt Eurw2.xtxt Eurw3.xtxt Eurw4.xtxt Polya0.xtxt Polya1.xtxt Polya2.xtxt Polya3.xtxt Polya4.xtxt Polyb0.xtxt Polyb1.xtxt Polyb2.xtxt Polyb3.xtxt Polyb4.xtxt Polyw0.xtxt Polyw1.xtxt Polyw2.xtxt Polyw3.xtxt Polyw4.xtxt randa0.xtxt randa1.xtxt randa2.xtxt randa3.xtxt randa4.xtxt randb0.xtxt randb1.xtxt randb2.xtxt randb3.xtxt randb4.xtxt randr0.xtxt randr1.xtxt randr2.xtxt randr3.xtxt randr4.xtxt randw0.xtxt randw1.xtxt randw2.xtxt randw3.xtxt randw4.xtxt
*.xtxt
*.snp
*.geno
*.ind
*.pdf
*.ps
*.els
*.eld
par.*
